Nuevo diseño de <%= @user.responsible %>
<div class="container">
  <%= simple_form_for(design) do |f| %>
    <%= f.input :project_number %>
    <%= f.input :client %>
    <%= f.input :project_name %>
    <%= f.input :revision %>
    <%= f.input :line %>
    <%= f.input :responsible, input_html: {value: @user.responsible, readonly: "readonly" }  %>
    <div class="form-check form-switch">
    <%= f.input :status, class: "form-check-input", label: "Activo",
                     as: :boolean,
                     checked_value: "activo",
                     unchecked_value: "inactivo",
                     input_html: {
                       checked: design.status == "activo" ? "checked" : "" #this line changes the status of the checkbox
                     } %>
    </div>
    <%= f.input :autodesk_link %>
    <%= f.input :server_path %>
    <%= f.input :user_id, label: "📑", input_html: {value: @user.id, readonly: "readonly", class: 'visually-hidden' }  %>
    <%= f.submit "Guardar", class: "modal-button" %>
  <% end %>
</div>
<% if @design.status == "activo" %>
  <%= @design.status %>
<% else %>
  Este proyecto no se encuentra activo
<% end %>
