Nuevo dise침o de <%= @user.responsible %>
<div class="container">
  <%= simple_form_for(design) do |f| %>
    <% if @user.role == "production_manager" %>
      <%= f.input :project_number, input_html: {value: design.project_number, readonly: "readonly" }, label: "N칰mero de proyecto" %>
      <%= f.input :client, input_html: {value: design.client, readonly: "readonly" }, label: "Cliente" %>
      <%= f.input :project_name, input_html: {value: design.project_name, readonly: "readonly" }, label: "Nombre del proyecto" %>
      <%= f.input :revision, input_html: {value: design.revision, readonly: "readonly" }, label: "N칰mero de revisi칩n del plano" %>
    <% else %>
      <%= f.input :project_number, label: "N칰mero de proyecto" %>
      <%= f.input :client, label: "Cliente" %>
      <%= f.input :project_name, label: "Nombre del proyecto" %>
      <%= f.input :revision, label: "N칰mero de revisi칩n del plano" %>
      <%= f.input :autodesk_link, label: "Link del visor 3D" %>
      <%= f.input :server_path, label: "Ruta del servidor" %>
      <%= f.file_field :document%>
    <% end %>
    <% if @user.role == "engineering_manager" || @user.role == "production_manager"%>
      <%= f.input :line, label: "Linea de producci칩n" %>
    <% end %>
    <%= f.input :responsible, input_html: {value: @user.responsible, readonly: "readonly" }, label: "Ingeniero a cargo"  %>
    <div class="form-check form-switch">
    <% if @user.role == "engineering_manager" %>
      <%= f.input :status, class: "form-check-input", label: "Activo",
                     as: :boolean,
                     checked_value: "activo",
                     unchecked_value: "inactivo",
                     input_html: {
                       checked: design.status == "activo" ? "checked" : "" #this line changes the status of the checkbox
                     } %>
    <% elsif @user.role == "production_manager" %>
      <% if design.status == 'activo' %>
        <%= f.input :status, class: "form-check-input", label: "Activo",
                     as: :boolean,
                     checked_value: "activo",
                     unchecked_value: "inactivo",
                     input_html: {
                       checked: design.status == "activo" ? "checked" : "" #this line changes the status of the checkbox
                     } %>
      <% end %>
    <% end %>
    </div>
    <%= f.input :user_id, label: "游늼", input_html: {value: @user.id, readonly: "readonly", class: 'visually-hidden' }  %>
    <%= f.submit "Guardar", class: "modal-button" %>
  <% end %>
</div>
