<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <%  @designs.each do |design|%>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= design.project_number %></h5>
          <p class="card-text"><%= design.project_name %></p>
          <p class="card-text"><%= design.revision %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= design.responsable %></small>
        </div>
        <h6> <%= link_to "Eliminar", design_path(design), method: 'delete', class: "btn btn-primary" %> </h6>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Editar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar información</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= render "designs_form", design: design %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
 <% end %>
  </div>
</div>
<div class="container">
  <%= link_to "Nuevo diseño", new_design_path %>
</div>
