<div class="container">
  Diseños elaborados por: <%= @user.responsible %> <br>
  Id: <%= @user.id %> <br>
  Email: <%= @user.email %> <br>
  Rol: <%= @user.role %>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <%  @designs.each do |design|%>
    <div class="col">
      <div class="card h-100">
        <% if design.document.present? %>
          <%= link_to (image_tag design.document.preview(resize_to_limit: [200, 200])), design.document %>
        <% else %>
          <%= image_tag 'BIOIN-screen.png' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= design.project_number %> - [<%= design.id %>] </h5>
          <p class="card-text"><%= design.project_name %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= design.revision %></small><br>
          <small class="text-muted"><%= design.status %></small><br>
        </div>
        <% if @user.role == 'engineer' %>
          <h6> <%= link_to "Editar información", edit_design_path(design) , class: "btn btn-primary" %> </h6>
        <% end %>
        <h6> <%= link_to "Ver diseño", design_path(design) , class: "btn btn-primary" %> </h6>
        <h6> <%= link_to "Ver 3D", design.autodesk_link , class: "btn btn-primary", target: :_blank %> </h6>
      </div>
    </div>
 <% end %>
  </div>
</div>
<div class="container">
<% if policy(Design).create? && @user.role != 'employee' %>
  <%= link_to "Nuevo diseño", new_design_path, class: 'btn btn-secondary' %> <br>
<% end %>

<% if policy(Design).all_designs? && @user.role != 'employee' %>
  <%= link_to "Todos los diseños", all_designs_path, class: 'btn btn-secondary' %>
<% end %>
</div>
