<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <%  @designs.each do |design|%>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= design.project_number %></h5>
          <p class="card-text"><%= design.project_name %></p>
          <p class="card-text"><%= design.revision %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><%= design.responsable %></small><br>
          <small class="text-muted"><%= design.user_id %></small>
        </div>
        <h6> <%= link_to "Eliminar", design_path(design), method: 'delete', class: "btn btn-primary" %> </h6>
        <h6> <%= link_to "Editar información", edit_design_path(design) , class: "btn btn-primary" %> </h6>
        <h6> <%= link_to "Ver diseño", design_path(design) , class: "btn btn-primary" %> </h6>
      </div>
    </div>
 <% end %>
  </div>
</div>
<div class="container">
  <%= link_to "Nuevo diseño", new_design_path %>
</div>
