<%# profile starts %>
<section class="h-100 gradient-custom-2">
  <div class=" py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="container px-5">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #414142;">
            <div class="ms-4 mb-3 mt-5 d-flex flex-column col-md-3 " style="width: 150px;">
              <%= link_to "← Regresar", designs_path, class: "btn btn-outline-light mt-2" %>
              <% if policy(@design).edit? || @user.role == "engineer" %>
                <%= link_to "Editar", edit_design_path(@design), class: "btn btn-outline-light mt-2", style: "z-index: 1;" %>
              <% end %>
              <% if @user.role == "engineering_manager" && policy(@design).destroy? %>
                <%= link_to "Eliminar", design_path(@design), method: "delete", class: "btn btn-outline-light mt-2", style: "z-index: 1;" %>
              <% end %>
            </div>
            <div class="ms-5 mb-3 col-md-3 d-flex align-items-center">
              <div>
                <h2><%=  @design.project_number  %></h2>
                <h5><%=  @design.project_name  %></h5>
                <p class="text-light"><%=  @design.client  %></p>
              </div>
            </div>
            <div class="ms-5 col-md-6 d-flex align-items-center">
            <% if @design.document.present? %>
                <%= link_to (image_tag @design.document.preview(resize_to_limit: [500, 500]), class: "img-fluid img-thumbnail mt-4 mb-3 mx-auto none"), @design.document, target: :_blank %>
              <% else %>
                <%= image_tag "BIOIN-screen.png", style: "width: 250px; height: auto; z-index: 1", class: "img-fluid img-thumbnail mt-4 mb-3" %>
              <% end %>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-between text-center py-1">
              <div>
                <p class="mb-1 h5"><%= @comments_count %></p>
                <p class="small text-muted mb-0">Comentarios</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">
                <%= @count_photo %>
                </p>
                <p class="small text-muted mb-0">Fotos</p>
              </div>
              <div>
                <a id="as" data-bs-toggle="modal" data-bs-target="#Modalhcc">
                <p class="mb-1 h5" for="as"><%= @hccs %></p>
                <p class="small text-muted mb-0">HCC</p>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Detalles del diseño</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"><strong>Responsable: </strong> <br> <%=  @design.responsible  %></p> <br>
                <p class="font-italic mb-1"><strong>Última revisión del plano: <br> </strong> <%=  @design.revision  %></p> <br>
                <p class="font-italic mb-1"><strong>Linea de producción: </strong> <br> <%=  @design.line  %></p> <br>
                <% if @user.role == "engineering_manager" || @user.role == "engineer" %>
                <p class="font-italic mb-1"><strong>Estatus: </strong> <br> <%=  @design.status  %></p> <br>
                <p class="font-italic mb-1"><strong>Link visor 3D: </strong> <br> <%=  @design.autodesk_link  %></p> <br>
                <p class="font-italic mb-1"><strong>Ruta del servidor: </strong> <br> <%=  @design.server_path  %></p> <br>
                <% end %>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Últimas fotos</p>
              <p class="mb-0"><a data-bs-toggle="modal" data-bs-target="#photoModal" class="text-muted">Ver todo</a></p>
            </div>
            <div class="row g-2">
            <% @lastphotos.each do |f| %>
              <div class="col-lg-6 col-md-12 mb-2 align-items-center">
              <%= image_tag f , class: "w-lg-50 w-md-100  rounded-3 img-fluid", style: "height: 300px;" %>
              </div>
            <%end %>
            </div>
            <div class="">
              <div class="row d-flex justify-content-center">
                <div>
                  <div class="card">
                    <div class="card-body p-4">
                      <h4 class="text-left font-italic mb-4 pb-2">Comentarios del diseño</h4>
                      <%= render "comments/commets_form", comment: @comment, user: @user, design: @design %>
                      <%= render "comments/commets", comments: @comments, answer: @answer, user: @user, answers: @answers %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%# profile ends %>
<%# modal photos %>
<div class="modal fade " id="photoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-black">
      <div class="modal-body">
          <div id="carousel">
            <figure id="spinner">
              <% @allphotos.each do |item| %>
                <%= image_tag item , class: "w-lg-50 w-md-100  rounded-3 img-fluid", style: "height: 300px;" %>
              <% end %>
            </figure>
          </div>
          <span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
          <span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>
      </div>
    </div>
  </div>
</div>
<%# modal photos end %>
<%# modal hcc %>
<div class="modal fade" id="Modalhcc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HCCs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">HCC</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% @hcc.each_with_index do |item, index| %>
            <tr>
              <th scope="row"><%= index %></th>
              <td><%= item.user %></td>
              <td><%= item.comment %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<%# modal hcc end %>
<script>
  var angle = 0;
  function galleryspin(sign) {
    spinner = document.querySelector("#spinner");
    if (!sign) { angle = angle + 45; } else { angle = angle - 45; }
    spinner.setAttribute("style","-webkit-transform: rotateY("+ angle +"deg); -moz-transform: rotateY("+ angle +"deg); transform: rotateY("+ angle +"deg);");
  }
</script>
