<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">

            <%= link_to (fa_icon "camera-retro") +" Diseños activos", designs_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Todos los diseños", all_designs_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Solicitudes de diseño", requests_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Ayuda
            </a>
          </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Acciones</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <%= link_to "Nuevo diseño", new_design_path, class: "nav-link" %>
          </li>
          <% if current_user.role == "engineering_manager" %>
          <li class="nav-item">
            <a href="" class= "nav-link">Indicadores</a>
          </li>
          <% end %>
          <li class="nav-item">
            <%= form_tag designs_path, method: :get do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Buscar un diseño"
              %>
              <button type="submit" class="btn btn-primary">
                <%= fa_icon "search" %>
              </button>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

 </main>

</div>
</div>
