<div class="area">
  <%= render 'shared/navbar' %>
</div>
<nav class="main-menu">
    <ul>
        <li class="has-subnav">
          <%= link_to (fa_icon "object-group") + content_tag(:span, "Diseños activos", class:"nav-text"), designs_path, class: "align-middle" %>
        </li>
        <li class="has-subnav">
          <%= link_to (fa_icon "table") + content_tag(:span, "Todos los diseños", class:"nav-text"), all_designs_path %>
        </li>
        <li class="has-subnav">
          <%= link_to (fa_icon "hourglass") + content_tag(:span, "Solicitudes de diseño", class:"nav-text"), requests_path %>
        </li>
        <li class="has-subnav">
          <%= link_to (fa_icon "question") + content_tag(:span, "Ayuda", class:"nav-text"), "#" %>
        </li>
        <li>
          <%= link_to (fa_icon "solid plus") +  + content_tag(:span, "Nuevo diseño", class:"nav-text"), new_design_path %>
        </li>
        <% if current_user.role == "engineering_manager" %>
          <li>
            <%= link_to (fa_icon "bar-chart-o") + content_tag(:span, "Indicadores", class:"nav-text"), "#" %>
          </li>
        <% end %>
        <li>
          <a href="/requests" class="row">
            <%= image_tag "active-designs" %>
            <span class="nav-text col">Solicitudes de diseño</span>
          </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                  <i class="fa fa-power-off fa"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>
