<br><br><br>

<div class="container">
  <%= simple_form_for(@request) do |f| %>
    <%= f.select :project_number_req, @designs.map { |d| [d.project_number + " | " + d.project_name, d.project_number]}, {prompt: "Elige un proyecto existente..."}, class: "form-control" %>
    <%= f.input :required_date, as: :date, html5: true %>
    <%= f.select :status, [['Pendiente','pending'],['Atendido', 'done']] %>
    <%= f.input :design_id, input_html: { value: 1 }, as: "hidden" %>
    <%= f.submit "Guardar", class: "modal-button" %>
  <% end %>
</div>
